body {
    font-family: Helvetica, Arial, sans-serif;
}

table {  
    color: #333;
    width: 100%; 
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {  
    border: 1px solid #CCC;
    padding: 5px;
}

th {  
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td.emphasis {
    font-weight: bold;
}

table.stats td {  
    text-align: center;
}

table.stats td.author {
    text-align: left;
}

table.keyval td {
    text-align: left;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td.win { background: #CFC; }
tr td.loss { background: #FCC; }
tr td.draw { background: #FFC; }

pre.log {
    text-align: left;
    white-space: pre-wrap;
    width: 100%;
    height: 500px;
    overflow: auto;
}

img.avatar {
    height: 48px;
    vertical-align: middle;
}
