<table class="stats">
    <tr>
        {% if stats_show_project %}
            <th>Author</th>
            <th>Project name</th>
            <th>Last updated</th>
        {% endif %}
        <th>Class name</th>
        <th>Elo rating</th>
        <th>Played</th>
        <th>Won</th>
        <th>Drawn</th>
        <th>Lost</th>
        <th>Disqualified</th>
        <th>Queued</th>
    </tr>
    {% for stat in stats %}
        <tr>
            {% set author, repo_name, class_name = stat._id.split('+') %}
            {% if stats_show_project %}
                <td class="author">
                    {% if stat.bot.repository %}
                        <img class="avatar" src="{{ stat.bot.repository.owner.avatar_url }}" alt="{{ author }}"/>
                    {% endif %}
                    {{ author }}
                </td>
                <td><a href="/bot/{{ author }}+{{ repo_name }}">{{ repo_name }}</a></td>
                <td>
                    {% if stat.bot.repository %}
                        {{ stat.bot.repository.pushed_at | ctime }}<br />
                        ({{ stat.bot.repository.pushed_at | how_long_ago }})<br />
                        <a href="/update_bot/{{ author }}+{{ repo_name }}">Update now</a>
                    {% endif %}
                </td>
            {% endif %}
            <td><a href="/history/{{ stat._id }}">{{ class_name | add_zwsp }}</a></td>
            <td>{{ stat.elo | round | int }}</td>
            <td>{{ stat.won + stat.drawn + stat.lost + stat.disqualified }}</td>
            <td>{{ stat.won }}</td>
            <td>{{ stat.drawn }}</td>
            <td>{{ stat.lost }}</td>
            <td>{{ stat.disqualified }}</td>
            <td>{{ stat.queued }}</td>
        </tr>
    {% endfor %}

    {% if stats_show_project %}
        {% for bot in unready_bots %}
            {% set author, repo_name = bot._id.split('+') %}
            <tr>
                <td class="author">
                    {% if bot.repository %}
                        <img class="avatar" src="{{ bot.repository.owner.avatar_url }}" alt="{{ author }}"/>
                    {% endif %}
                    {{ author }}
                </td>
                <td><a href="/bot/{{ author }}+{{ repo_name }}">{{ repo_name }}</a></td>
                <td>
                    {% if bot.repository %}
                        {{ bot.repository.pushed_at | ctime }}<br />
                        ({{ bot.repository.pushed_at | how_long_ago }})<br />
                        <a href="/update_bot/{{ author }}+{{ repo_name }}">Update now</a>
                    {% endif %}
                </td>
                <td colspan="8"><a href="/bot/{{ author }}+{{ repo_name }}">{{ bot.status }}</a></td>
            </tr>
        {% endfor %}
    {% endif %}
        
</table>

